.lightbox {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox .close {
  right: 0;
  margin: 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
}

.lightbox img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 500px;
  padding: 50px 50px 0 50px;
  box-sizing: border-box;
}

.lightbox h3 {
  color: #ffffff;
  margin-bottom: 5px;
}

.lightbox span {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
}

.lightbox .sizes {
  padding: 10px;
}

.lightbox .size {
  margin: 20px;
  color: #ffffff;
}
