.card {
  margin: 10px;
  display: inline-block;
}

.card .photo {
  width: 300px;
  height: 175px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card .info {
  width: 300px;
  height: 50px;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
  background-color: #f67c00;
}

.card .info .title span {
  width: 280px;
  font-size: 12px;
  color: #000000;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.card .info .owner span {
  width: 280px;
  font-size: 12px;
  color: #484848;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@media only screen and (max-device-width: 480px) {
  .card {
    display: block;
    margin-bottom: 50px;
  }

  .card .photo {
    margin: 0 auto;
    width: 600px;
    height: 300px;
  }

  .card .info {
    margin: 0 auto;
    width: 600px;
    height: 80px;
  }

  .card .info .title span {
    width: 580px;
    font-size: 22px;
  }

  .card .info .owner span {
    width: 580px;
    font-size: 22px;
  }
}
