.alert {
  top: 60px;
  color: #fff;
  right: 20px;
  width: 300px;
  padding: 10px;
  position: fixed;
  border-radius: 4px;
  background-color: rgba(0, 173, 255, 0.9);
}

.alert.error {
  background-color: rgba(255, 50, 50, 0.9);
}

.alert .close {
  float: right;
  cursor: pointer;
  font-weight: bold;
}

.alert .title,
.alert .body {
  display: block;
}

.alert .title {
  font-weight: bold;
}
