.header {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

.header img,
.header h1 {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
}

.header h1 {
  font-weight: normal;
}

@media only screen and (max-device-width: 480px) {
  .header {
    height: 90px;
  }

  .header h1 {
    font-size: 45px;
  }

  .header img {
    width: 85px;
  }
}
