.home {
  text-align: center;
  background-color: #eeeeef;
}

.home .more {
  border: 0;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 40px;
  margin-bottom: 40px;
  background-color: #616161;
}

.home .more:disabled,
.home .more[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
